@charset "UTF-8";

@font-face {
  font-family: "GenJyuuGothicX-Bold";
  src: url("GenJyuuGothicX-Bold.woff2") format("woff2"),
       url("GenJyuuGothicX-Bold.woff") format("woff"),
       url("GenJyuuGothicX-Bold.ttf") format("truetype"),
       url("GenJyuuGothicX-Bold.eot") format("embedded-opentype"),
       url("GenJyuuGothicX-Bold.svg") format("svg"),
       url("GenJyuuGothicX-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}